* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

body {
    width: 100%;

}

.container-navbars {
    margin: 12px;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 43px;
}


.nav-links-tablet {
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    width: 80%;
    list-style: none;
    padding: 0;
    color: white;
}



.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}


.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    display: none;
}

.close {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: end;
}
.flex {
    display: flex;
}

button>p {
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.btn-wrapper {
    display: flex;
    gap: 16px;
}


.btn-wrapper>button {
    padding: 8px 20px;
    border: 1px solid black;
    text-align: center;
}

.btn-secondary {
    background-color: black;
    color: white;
}

.text>.btn-wrapper {
    margin-top: 16px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

h1 {
    font-size: 56px;
    margin-bottom: 24px;


}

p {
    font-size: 14px;

}

.hero-container {
    gap: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


footer {
    width: 100%;

    padding: 80px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    width: 480px;
}

.footer-top>.links-end {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.footer-top>a {
    font-weight: 800;
    
}

.links-footer {
    display: flex;
    gap: 30px;
}

.links-end {
    display: flex;
    gap: 16px;
    text-align: center;
    
}

.footer-buttom {
    width: 100%;

    display: flex;
    align-items: end;
    justify-content: space-between;
    border-top: 1px solid #000000;
}



/*Media Query tablet*/

@media(max-width: 768px) {
    body {
        width: 100%;
    }
    nav {
        display: flex;
        justify-content: center;
    }

    .container-navbars>a {
        display: none;
    }

    .nav-links-tablet>li,
    a {
        font-size: 16px;
        color: white;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }


    .nav-links-tablet a:hover {
        color: aqua;
    }

    .hamburger {
        display: block;
        margin-top: -40px;

    }

    .btn-wrapper>button {
        font-size: 12px;
        padding: 6px 16px;
    }


    .hero-container {
        display: flex;
        flex-direction: column;

    }

    .text {
        margin-top: 5em;
    }

    .text>p {
        flex-wrap: wrap;
        font-size: 12px;
    }

    .text>h1 {
        font-size: 40px;
    }

    .hero-container>img {
        max-width: 100%;
        height: auto;

    }

    .footer-top {
       text-align: center;
        flex-direction: column;
    }

    .links-footer {
        text-align: center;
        flex-direction: column;
        
    }

    .links-end  {
        text-align: center;
        flex-direction: column;
    }
}


/*Media Query Desktop*/


@media(max-width: 1280px) {

    body {
        width: 100%;

    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

    .container-navbars > a {
        font-size: 30px;
    }
     .container-navbars > img {
       width: 180px;
     }

    .btn-wrapper > button {
        font-size: 25px;
        padding: 7px 20px;
       
        
    }


    .hero-container {
        display: flex;
    
    }

    .text {
        margin-top: 5em;
    }

    .text>p {
        flex-wrap: nowrap;
        font-size: 30px;
    }

    .text>h1 {
        font-size: 59px;
    }

    .hero-container>img {
        max-width: 100%;
        height: auto;

    }

    .footer-top {
        margin-top: 20rem;
        display: flex;
   
    }

    .links-footer {
        text-align: center;
    }

    .links-end {
        text-align: center;
       
    }
}
